<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Coco Save</a>
  </div>
</nav>

<div class="container">
  <div>
    <h1 class="mt-5 display-4">7 Tips for Coco Save Beginners</h1>
    <br>
    <span>Posted on 30/04/2018</span>
  </div>
  <hr>
  <div>
    <p>
      <em>
        "Keep your chick alive as long as possible avoiding geometric objects like circles, squares and sticks.
        <br>
        Become Coco Save Champion!"
      </em>
    </p>
    <p><strong>Carlo D'Avino</strong></p>
  </div>
  <hr>
  <div>
    <h3>Introduction</h3>
    <p>
      The dark background and warm color palette on top of the haptics feedback makes the game extremely engaging and, in a certain wat, satisfatory.
      <br>
      Built on top of simple graphics and collision mechanics, this app make every developer say "I could have made this app".
      <br>
    </p>
  </div>
  <hr>
  <div>
    <h3>Naming Convention</h3>
    <p><strong>Coco:</strong> The bird.</p>
    <p><strong>Orb:</strong> The cursor.</p>
    <p><strong>Block:</strong> The rectangular falling object.</p>
    <p><strong>Stick:</strong> The long falling object.</p>
    <p><strong>Marble</strong> The circular falling object.</p>
  </div>
  <hr>
  <div>
    <h3>Tip #1</h3>
    <p>Coco always behave in the same way.</p>
    <ol>
      <li>It starts at the center.</li>
      <li>Moves to the left.</li>
      <li>Back the the center.</li>
      <li>Moves to the right.</li>
      <li>Back to the center.</li>
      <li>Repeat...</li>
    </ol>
  </div>
  <hr>
  <div>
    <h3>Tip #2</h3>
    <p>You can never lost on the first wave of objects by standing still.</p>
  </div>
  <hr>
  <div>
    <h3>Tip #3</h3>
    <p>Objects always fall from left to right except for the horizontal sticks, which stack at the center.</p>
  </div>
  <hr>
  <div>
    <h3>Tip #4</h3>
    <p>Each wave of objects spawns every 2 seconds.</p>
  </div>
  <hr>
  <div>
    <h3>Tip #5</h3>
    <p>Marbles have a larger hitbox than boxes. At the central position, Coco can get hit by the second marble from the left, which doesn't happen with the boxes.</p>
  </div>
  <hr>
  <div>
    <h3>Tip #6</h3>
    <p>You can move the orb up and down.
      <br>
      If you haven't passed the 30" for the first time yet, try to keep the orb as close to Coco as possible.
    </p>
  </div>
  <hr>
  <div>
    <h3>Tip #7</h3>
    <p>Try to only block the necessary objects.
      <br>
      Most of the times, you only need to hit one or two objects. This makes your moves more efficient.
    </p>
  </div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <p><em>Author: Eduardo Yutaka Nakanishi</em></p>
    </footer>
</div>